/* CSS Reset  */

* {
    Margin: 0px;
    Padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */

:root {
    --navbar-height: 59px;
}

/* Navigation Bar  */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar:Logo and Image  */

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}

/* Navigation Bar:List styling */

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}


/* Home section  */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 396px;
    align-items: center;
    justify-content: center;
}

#home::before {
    content: "";
    position: absolute;
    background: url("../bg1.jpg") no-repeat center/cover;
    height: 492px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: rgb(17, 1, 1);
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
}

/* Services Section  */

#services {
    margin: 16px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 55px;
    margin-bottom: 27px;
    border-radius: 28px;
    background-color: rgb(255, 202, 202);
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
    /* width: ; */
}

#services .box p {
    font-family: 'Bree Serif', serif;
}



footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* Clients section  */

#client-section {
    height: 344px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url("../bg.jpg");
    width: 100%;
    height: 344px;
    z-index: -1;
    opacity: 0.5;
}

#clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 124px;
}

/* contact section  */
#contact{
    position: relative;
}
#contact::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.7;
background: url("../contact.jpg") no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, #contact-box textarea{
 width: 100%;
 padding: 0.5rem; 
 border-radius: 34px;  
 font-size: 1.1rem;
}
#contact-box form{
width: 40%;
}
#contact-box label{
    width: 1.3rem;
    font-family: 'Bree Serif', serif;
}

/* Utility Class */

.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid red;
    background-color: brown;
    color: white;
    margin: 17px 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}